@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* Reset dan pengaturan dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.logo span{
  color: #ff8906;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Agar video menyesuaikan ukuran layar */
  z-index: -1; /* Agar tidak menutupi konten */
}

/* Main content styling */
main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  background-image: url(image/background.mp4);
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: .3s ease;
}

/* Container untuk game dan start screen */
.container {
  background-color: transparent;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  top: 35%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

#start-screen p {
  color: white;
  padding: 12px;
  font-size: 20px;
}

#begin-game {
  width: 190px;
  height: 55px;
  background-color: #ff8906;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #EB5B00;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

#begin-game:hover{
  background: transparent;
  box-shadow: none;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  max-width: 90%;
  text-align: center;
  animation: scaleIn 0.3s ease-in-out;
}

.modal-content .info {
  display:  flex;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
  padding: 2px;
}

.modal-content h2 {
  font-size: 40px;
  color: #EB5B00;
}

.modal-content p {
  font-size: 18px;
  margin: 8px;
}

.modal-content .btn-group {
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.modal-content #start-game {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #EB5B00;
  border: 2px solid #ff8906;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: .5s;
  
}

.modal-content #start-game:hover {
  background: white;
  box-shadow: none;
  color: #EB5B00;
}

.modal-content #back-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: white;
    border: 2px solid #ff8906;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #EB5B00;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.modal-content #back-btn:hover {
  background: #EB5B00;
  box-shadow: none;
  color: white;
}

@keyframes scaleIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.5); /* Mulai dari kecil (50% ukuran aslinya) */}
  to {opacity: 1; transform: scale(1); /* Kembali ke ukuran normal */}
}


.container #game-container {
  position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: rgb(9, 0, 29);
    transition: 0.8s ease-in-out 0.25s;
}

#game-container {
  background: transparent;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  text-align: center;
  animation: zoomIn 0.5s ease-in-out;
  margin-bottom: 20px;
  border: 2px solid #ff8906;
  top: 20%;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.game-header h1  {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, rgb(255, 165, 0), transparent);
  border-radius: 6px;
  color: white;
}

.game-info p {
  font-size: 22px;
  font-weight: 500;
  background: transparent;
  border-radius: 3px;
  padding: 10px;
  color: white;
  margin: 1%;
  border-radius: 10px;
}

#game-container h2 {
  font-size: 30px;
  color: white;
}

/* Tampilan Timer */
#timer {
  font-weight: 600;
  color: red;
}

.controls #submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #EB5B00;
  border: 2px solid #ff8906;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: .5s;
}

.controls #submit:hover {
  background: white;
  box-shadow: none;
  color: #EB5B00;
}

.controls #clear {
  display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: white;
    border: 2px solid #ff8906;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #EB5B00;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
    margin: 1%;
}

.controls #clear:hover {
  background: #EB5B00;
  box-shadow: none;
  color: white;
}

/* Tampilan angka & operator */
#numbers-container {
  margin: 20px 0;
}

.number, .operator {
  display: inline-block;
  padding: 12px 20px;
  margin: 8px;
  font-size: 20px;
  background: white;
  color: #EB5B00;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  border: 2px solid #ff8906;
}

.number:hover, .operator:hover {
  background: #EB5B00;
  color: white;
}


/* Tampilan kotak ekspresi (5 kotak) */
#expression-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.exp-box {
  border: 2px solid #ff8906;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  min-width: 60px;
  font-size: 20px;
  font-weight: 500;
  color: #EB5B00;
  background: #f0f4ff;
}


.modal-content #continue-btn, #restart-game, #restart-btn, #retry-stage-btn {
   display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: #EB5B00;
  border: 2px solid #ff8906;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: .5s;
}

.modal-content #continue-btn:hover, #restart-game:hover, #restart-btn:hover,  #retry-stage-btn:hover {
  background: white;
  box-shadow: none;
  color: #EB5B00;
}

.modal-content #stop-btn, #back-to-home-btn ,#back-to-home-timeup-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: white;
  border: 2px solid #ff8906;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #EB5B00;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: .5s;
  margin: 1%;
}

.modal-content #stop-btn:hover, #back-to-home-btn:hover, #back-to-home-timeup-btn:hover {
  background: #EB5B00;
  box-shadow: none;
  color: white;
}

#message {
  color: white;
}

